{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "valeera/typescript"
    ],
    "plugins": [
        "html",
        "@typescript-eslint/eslint-plugin",
        "@typescript-eslint/eslint-plugin-tslint",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    }
}